/* MAIN SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
}
.main {
    /* height: 100vh; */
}

.top_block {
    margin-top: 50px;
    padding: 17px;
    border-radius: 10px;
    background-color: #AAC8A5;
}
.create_task {
    outline: none;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    padding: 7px;
    border-radius: 7px;
    transition: 0.3s;
}
.create_task:hover {
    background-color: rgb(95, 95, 95);
    transition: 0.3s;
    color: #fff;
}

@media(max-width: 767px) {
    .container {
		max-width: none;
		padding: 0 16px;
	}
}